@import 'foundation/settings';

.sidebar {
	margin-top: 25%;
	position: fixed;
	.brand {
		color: $headerFontColor;
		.io {
			color: $io;
		}
	}
}

/*-----------------------------------------
Typography
-----------------------------------------*/

* {
	word-wrap: break-word;
}


// Inline and block code styles
code,
pre {
  padding: 0 3px 2px;
  font-family: $monoFontFamily;
  @include modular('font-size', ms(0), -2);
  @include border-radius(3px);
}

// Inline code
code {
  padding: 0 4px;
  @include modular('font-size', ms(0), -4);
  color: #de124c;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

// Blocks of code
pre {
  display: block;
  @include modular('padding', ms(0));
  @include modular('margin', ms(0));
  @include modular('font-size', ms(0), 0, .5); // 14px to 13px
  line-height: 1.6;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0,0,0,.15);
  @include border-radius(4px);

  // Account for some code outputs that place code tags in pre tags
  code {
  	@include modular('font-size', ms(0), 0, .8);
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

figcaption {
	@include modular('font-size', ms(0), 0, .8);
	color: $io;
	text-align: center;
	font-style: italic;
	@include modular('padding-bottom', ms(0));	
}

blockquote ~ figcaption {
	&:before {
		content: '-';
	}
}

sup, sub {
	@include modular('font-size', ms(0), 0, .75);
	color: $io;
}

/*-----------------------------------------
Wordpress Classes from _s / WPFill.me
-----------------------------------------*/

.alignleft {
    float: left;
    margin:0 15px 30px 0;
}
.aligncenter {
    display: block;
    margin: 0 auto 30px auto;
}
.alignright {
    float: right;
    margin:0 0 30px 15px;
}
.alignnone {
    float: none;
    display:block;
    margin:0 0 30px 0;
}
.size-full {
    width:100%;
    height:auto;
    margin:0 0 30px 0;
}
p .alignleft {
    float: left;
    margin:5px 15px 30px 0;
}
p .aligncenter {
    display: block;
    margin: 5px auto 30px auto;
}
p .alignright {
    float: right;
    margin:5px 0 30px 15px;
}
p .alignnone {
    float: none;
    display:block;
    margin:5px 0 30px 0;
}
p .size-full {
    width:100%;
    height:auto;
    margin:5px 0 30px 0;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.entry-title a {
	color: $headerFontColor;
}
.entry-meta {
	clear: both;
}
.byline {
	display: none;
}
/*.single .byline,
.group-blog .byline {
	display: inline;
} */
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.post {
	padding: 22% 0;
}
.site-footer {
	@include modular('font-size', ms(0), 0, .75);
	a {
		color: $io;
	}
}

/* =Posts
----------------------------------------------- */

.footnote {
	list-style-type: none;
	@include modular('font-size', ms(0), 0, .8);
	@include modular('padding', ms(0), 0, .5);
	a:first-child {
		color: $io;
		border-bottom: 0;
	}
	&:target {
		border-radius: 5px;
		background-color: #FEFEFD;
		border: 1px solid $secondaryColor;
	}
	a {
		color: $txtColor;
		border-bottom: 1px dotted $io;
	}
}

.entry-footer-meta {
	text-transform: lowercase;
	color: $io;
	@include modular('font-size', ms(0), 0, .85);
	a {
		color: $io;
		@include transition(linear);
		@include transition-property(opacity);
		@include transition-duration(.25s);
		opacity: .75;
		&:hover {
			opacity: 1;
		}
	}
	.taxonomies {
		@include modular('margin-bottom', ms(0));
	}
	.entry-meta-cats a {
		&:before {
			content: '/';
		}
		&:after {
			content: '/';
		}
	}
	.entry-meta-tags a {
		@include modular('margin-right', ms(0));
		&:last-child {
			margin-right: 0;
		}
		&:before {
			content: '#';
		}
	}
}

/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
#content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
#content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
#content .gallery dd {
	margin: 0;
}
#content .gallery-columns-4 .gallery-item {
}
#content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

#content .site-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
#content .nav-previous {
	float: left;
	width: 50%;
}
#content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Search widget */
#searchsubmit {
	display: none;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	overflow: auto;	
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}
pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prism’s padding-top */

	background: hsla(24, 20%, 50%,.08);
	background: -moz-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: -webkit-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: -o-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	
	pointer-events: none;
	
	line-height: inherit;
	white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	top: .4em;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	background-color: hsla(24, 20%, 50%,.4);
	color: hsl(24, 20%, 95%);
	font: bold 65%/1.5 sans-serif;
	text-align: center;
	vertical-align: .3em;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: .4em;
}

/*-----------------------------------------
Responsive Adjustments
-----------------------------------------*/

@media only screen and (max-width: 433px) { 
	html {
		font-size: 45%;
	}
	.brand {
		@include modular('font-size', ms(1));
	}
}

@media only screen and (max-width: 521px) and (min-width: 434px) { 
	html {
		font-size: 50%;
	}
}

@media only screen and (max-width: $screenSmall - 1) {
	.sidebar {
		margin: ($columnGutter/2) 0;
		position: static;
	} 
	.post:first-child {
		padding: 11% 0 22% 0;
	}
}

